@import './variables.css';
@import './font.css';
/* Default Styles */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    direction: rtl;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: initial;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease; 
}

a:hover {
    color: #F54927;
}

i {
    user-select: none;
}

/* Finish Defult Styles */

/* Start Top-Bar Style  */

.top-bar {
    color: var(--dark-color);
    padding: 2rem;
    background-color: #f0f2f7;
}

.top-bar__content {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.top-bar__right {
    display: flex;
}

.top-bar__menu {
    display: flex;
}


.top-bar__link {
    color: black;
    transition: all 480ms ease;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.top-bar__link:hover {
    color: var(--primary-color);
}

.top-bar__left {
    display: flex;
}

.top-bar_email-icon , .top-bar_phone-icon {
    color: var(--primary-color);
    padding-left: 10px;
}
/* Finish Top-Bar Style  */
